@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700';

body, html {
    background: #7F7F7F;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    padding: 8rem 0 7rem;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

p, ul, small {
    font-weight: 300;
}

.navbar {
    text-align: center;
    width: 90%;
    overflow: auto;
    margin: 2rem auto 0;

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

    background-color: #29CDDB;
}

.navbar > .logo {
    background: #333;
}

.navigation > #menu {
    max-width: 660px;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 auto;
}

.navigation > #menu > li {
    float: left;
    margin: 0 auto;
}

.navigation > #menu > li > a {
    display: block;
    color: #fff;
    padding: 1rem 3rem;
    text-decoration: none;
    border-left: 2px solid #fff;
}

.navigation > #menu > li a:hover {
    background-color: #11565B;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .3s ease-in;
}

#end {
    border-right: 2px solid #fff;
}

.paragraph {
    text-align: left;
    width: 90%;
    overflow: auto;
    margin: 0 auto 0;
    background: #fff;
}

.paragraph > p {
    width: 70%;
    margin: 1rem auto;
}

.paragraph > h3 {
  font-weight: 500;
}

.paragraph > label {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

.footer {
    text-align: center;
    width: 90%;
    overflow: auto;
    margin: 0 auto 0;
    background: #333;
}

.footer {
    color: #fff;
    overflow: auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.footer > .icons > a > i{
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #fff;
}
